.dashbor-class{
    min-height: 615px;
    padding: 30px;
    display: flex;
    justify-content: flex-end;
    background-color: white;
}

.dashbor-content{
    min-width: 75%;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    width: auto;
}

.dashbor-content img {
    size: 200px;
    border: 1px solid black;
}


