.card-detail-container{
    min-height: 500px;
    display: flex;
    justify-content: space-evenly;
}

.card-detail-img{
    width: 35%;
    display: flex;
    justify-content: flex-end;
}

.card-detail-img img {
    max-width: 100%;
    max-height: 100%;
}

.card-detail-container .card-detail-img img {
    height: 80%;
}

.card-detail-detail{
    width: 55%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}