.home{
    background-color: white;
    min-height: 615px;
    height: 100%;
    margin : 10px 10px 10px 10px;
    border-radius: 10px;
    padding: 30px;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.row{
    border-top: 1px solid black;
    display: flex;
    height: auto;
    margin: 20px 25px 20px 25px;
    flex-wrap: wrap;

}

.card{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 24%;
    margin-left: 11px;
    padding: 2px;
    overflow: hidden;
}

.card h2,p {
    font-family: sans-serif;
}

.card-body{
    padding:10px;
}

h1{
    margin-left: 25px;
}