nav{
    background-color: rgb(1, 2, 34);
    height: 80px;
    width: auto;
    min-width: auto;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

nav img{
    height: 54px;
    width: 60px;
    margin-top: 0;
}

nav ul {
    display: flex;
}

nav ul a {
    text-decoration: none;
}

nav ul a li{
    list-style-type: none;
    padding: 25px;
    color: white;
    font-size: large;
}


nav ul a li:hover {
    background-color: white;
    color: black;
    height: 80px;
}


.nav-btn ul li:hover {
    background-color: white;
    height: 80px;
}

.nav-btn ul li span:hover{
    color: black;
}

.nav-btn ul li{
    list-style-type: none;
    padding: 25px;
    color: white;
    font-size: large;
}

.nav-btn span{
    color: white;
    cursor: pointer;
    padding: 10px;
}
