.dashbor-sidebar{
    border-right: 1px solid rgb(184, 178, 178);
    min-width: 17%;
    min-height: 615px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: white;
}

.dashbor-sidebar ul{
    margin-top: 30px;
}

.dashbor-sidebar ul li {
    list-style-type: none;
    font-size: 20px;
    color: black;
}