.LayoutAfter{
    display: flex;
    flex-direction: column;
    /* background-color: rgb(214, 207, 207); */
    background-color: red;
    min-height: 100%;
    width: auto;
    box-sizing: content-box;
    flex: 1 1 0px
}