/* Header */
body,html {
    margin:0;
    padding:0;
}
header{
    position: fixed;
    background-color: white;
    display: flex;
    flex: 1;
    width: 100%;
    top: 0;
    height: 70px;
}
nav ul {
    list-style-type: none;
    display: flex;
}

nav ul a{
    padding: 10;
    font-size: 20;
    text-decoration: none;
}

nav{
    background-color: white;
    margin-left: auto;
}

/* Footer */
footer{
    background-color: black;
    color: white;
    position: fixed;
    width: 100%;
    text-align: center;
    bottom:0
}

/* Content */
body{
    background-image: url('../img/pattern.jpg');
}
section{
    background-color: white;
    padding: 20px;
    margin: auto;
    width: 800px;
    margin-top: 100px;
    margin-bottom: 80px;
}

#article-list{
    text-align: justify;
    padding: 10px;
}

#article-list div{
    border-bottom: 1px solid black;
}

h1{
    text-align: center;
}
