.back-button{
    margin-top: 30px;
}

/* About Page */

.about-class{
    border-style:solid;
    border-width: thin;
}
.about-title{
    text-align: center;
}


/* Contact Page */
.contact-h1{
    text-align: center;
}
p{
    margin: 0%;
}
.contact-all{
    border-style: solid;
    border-width: thin;
    padding: 10px;
}


