/* Tugas 9 Styling */


.root{
    padding: 0;
}

.Main{
height: 650px;
margin-top: 40px;
margin-bottom: 50px;
margin-left: auto;
margin-right: auto;
width: 35%;
box-shadow: 0px 20px 30px gray;
}

img{
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
height: 100px;
width: auto;
padding: 20px;
}

.FormList{
background-color: red;
display: block;
margin-left: 0;
margin-right: 0;
padding: 20px;

}

.FormList, label{
display: inline-block;
padding: 10px 10px 0px 10px;
font-size: 25px;
}

input[type='checkbox'] {
width:20px;
height:20px;
}


.tugas9-btn{
display: block;
width: 100%;
border: none;
background-color: rgb(22, 145, 245);
padding: 14px 28px;
font-size: 16px;
cursor: pointer;
text-align: center;
color: white;
}

.tugas9-btn:active{
background-color: red;
} */

/* Tugas 10 Styling */
.ClockActive{
    width: 35%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
}

.ClockActive p{
    font-size: 50px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
}

.ClockActive small{
    font-size: 20px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
}


/* Navbar Styling */

.light-nav{
    width: 100%;
    margin-top: 0;
    border-bottom: 1px solid rgb(196, 192, 192);
}

.light-nav ul{
    display: flex;
}

.light-nav ul li:hover{
    background-color: rgb(219, 213, 213);
    cursor: pointer;
}

.light-nav ul li{
    list-style-type: none;
    padding: 15px;
    margin-left: 10px;
    width: 90px;
    text-align: center;
    border-radius: 5px;
    margin-top: 10px;
}
.light-nav a{
    text-decoration: none;
    color: rgb(161, 158, 158);
    display: block;
}

.swithcTheme{
    margin-left: auto;
    background-color: red;
}



/* Dark */

.dark-nav{
    width: 100%;
    background-color: black;
    margin-top: 0;
    padding: 1px 0px;
    border-bottom: 1px solid rgb(196, 192, 192);
}

.dark-nav ul{
    display: flex;
}

.dark-nav ul li:hover{
    background-color: rgb(194, 184, 184);
    cursor: pointer;
}

.dark-nav ul li{
    list-style-type: none;
    padding: 15px;
    margin-left: 10px;
    width: 90px;
    text-align: center;
    border-radius: 5px;
    margin-top: 10px;
}
.dark-nav a{
    text-decoration: none;
    color: white;
    display: block;
}
