.Daftar-nilai-ant{
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}


.Daftar-nilai-ant table{
    padding: 10px;
    width: 100%;
    border-collapse: collapse;
}

.Daftar-nilai-ant table tr td:last-child {
    width: 12%;
    white-space: nowrap;
}

.Daftar-nilai-ant table tr td:last-child button {
    margin-right: 5px;
}

.Daftar-nilai-ant table td{
    padding: 5px;
}

.Daftar-nilai-ant table tr{
    border-bottom: 0.1px solid lightgray;
}