.Daftar-nilai{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}


.Daftar-nilai table{
    padding: 10px;
    width: 80%;
    border-collapse: collapse;
}

.Daftar-nilai table tr td:last-child {
    width: 12%;
    white-space: nowrap;
}

.Daftar-nilai table tr td:last-child button {
    margin-right: 5px;
}

.Daftar-nilai table td{
    padding: 5px;
}

.Daftar-nilai table tr{
    border-bottom: 0.1px solid lightgray;
}

.Form-nilai-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
}

.Form-nilai-container table{
    border: 1px solid black;
    width: 900px;
    padding: 5px;
}

.Form-nilai-container table td{
    padding: 10px;
}

.Form-nilai-container table .table-val{
    text-align: right;
}

.Form-nilai-container table .table-key{
    font-weight: bold;
}

.Form-nilai-container table td input{
    width: 200px;
}
